<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <h1 class="text-center mt-5">Etiquetador de conceptos biomédicos en español</h1>
  <div class="container">
    <div class="row row-cols-2">
      <div class="col">
        <div class="mb-3 mt-5">
          <form method='GET' action=""> 
              {% csrf_token %}
              <label for="exampleFormControlTextarea1" class="form-label" aria-placeholder="Textarea" value="">Ingrese su
                frase</label>
              <textarea class="form-control" id="exampleFormControlTextarea1"  name="dato" rows="4">infecciones</textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" >Etiquetar</button>
              </div>
          </form>
          
      </div>
      <div class="col mt-5 pl-5">
        Tabla
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Entidad</th>

              <th scope="col">Código</th>

              <th scope="col">Posición Español</th>

            </tr>
          </thead>
          <tbody>
            {%for dato in data %}
            <tr>
              
              <td>{{dato.entidad}}</td>
              <td>{{dato.codigo}}</td>
              <td>{{dato.posicion}}</td>

            </tr>
            {% endfor %}
            
            
           
            


          </tbody>
        </table>
      </div>

    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>